<div class="container-fluid bg-light mt-5">
    <div class="container bg-light">

        <div class="row mt-4 d-flex justify-content-center">
            <!-- <div class="col"></div> -->
            <div class="col-8 bg-white shadow bg-dark">

                <div class="card bg-warning shadow my-5 mx-5 text-center ">
                    <h4 class="text-white p-2 pt-2 pb-2 ">To Do List</h4>
                </div>

                <div class="shadow border rounded m-2">
                    <div class="input-group p-4">
                        <input type="text" class="form-control" placeholder="Enter Your Task"
                        name="task" [(ngModel)]="addTaskValue">
                        <button class="btn btn-outline-success" type="button" (click)="addTask()">
                            +
                        </button>
                    </div>
                </div>

                <h4 class="text-primary mt-4">Tasks : </h4>

                <div class="overflow-y: auto; height:350px;">
                    <div class="m-3" *ngFor="let task of taskArr">
                        <div class="p-2 shadow border rounded">

                            <div class="input-group row ps-3">
                                <div class="card col-md-10 border-0"> {{task.taskName}}</div>
                                <button class="btn btn-outline-primary col me-2"
                                 type="button"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    (click)="call(task)">
                                    &#x270E;
                                </button>
                                
                                <button class="btn btn-outline-danger col" type="button" (click)="deleteTask(task)">
                                  
                                    &#x2716;
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group p-4">
                                    <input type="text" class="form-control" placeholder="Enter task " name="task"
                                        [(ngModel)]="editTaskValue">
                                    <button class="btn btn-outline-success" type="button" data-bs-dismiss="modal"
                                        (click)="editTask()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>